.main-bg{
    background-size: cover;
    background-position: center;
    background-image: url('image/cafe.jpg');
}

.box{
    width: 20rem;
    height: 60%;
    height: auto;
    background-color: white;
}

.reasons{
    background-color: burlywood;
}

.reason-main-box{
    background-color: brown;
}

.reason-bg-main{
    background-color: gray;
}

.main-box{
    background-color: #C9C9C9;
}

.small-box{
    background-color: white;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.main{
    height: 100%;
    width: 1005;
}

@media (max-width: 768px) {
    .d-flex {
      flex-wrap: wrap;
    }
    .box {
      flex-basis: 100%;
      max-width: 100%;
    }
  }